// -----------------------------------------------------------------------------
// Typographies
// -----------------------------------------------------------------------------

//
// Font Family
//
$default-font-family: HiraginoSans, Hiragino Kaku Gothic ProN, Meiryo, Arial, sans-serif;

//
// Font Weight
//
$default-font-weight:      400;
$bold-font-weight:         700;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

//
// Base and Home View
//
$home-color-hue: 247;
$home-bg-color-base:   hsl($home-color-hue,  80%,   5%);
$home-ft-color-base:   hsl($home-color-hue,  50%,  90%);
$home-ft-color-accent: hsl($home-color-hue, 100%,  70%);

//
// Script View
//
$script-color-hue: 190;
$script-bg-color-base:   hsl($script-color-hue,  80%,   5%);
$script-bg-color-light:  hsl($script-color-hue,  80%,  20%);
$script-ft-color-base:   hsl($script-color-hue,  50%,  90%);
$script-ft-color-accent: hsl($script-color-hue, 100%,  70%);

//
// Variable View
//
$variable-color-hue: 165;
$variable-bg-color-base:   hsl($variable-color-hue,  80%,   5%);
$variable-bg-color-light:  hsl($variable-color-hue,  80%,  20%);
$variable-ft-color-base:   hsl($variable-color-hue,  50%,  90%);
$variable-ft-color-accent: hsl($variable-color-hue, 100%,  70%);

//
// Color View
//

//
// Property View
//

// $theme-color: hsl($theme-color-hue, 100%, 50%);

// -----------------------------------------------------------------------------
// Layouts
// -----------------------------------------------------------------------------

//
// Sizes
//
$aside-size-width: 14rem;

$global-header-height: 3rem;
$sub-header-height: 3rem;

//
// Border
//
$border-height-base: 1px;
$border-height-bold: 3px;

$border-radius-base: 3px;

//
// z-index
//
$base-z-index: 0;
$codemirror-z-index: 5;

// -----------------------------------------------------------------------------
// Interaction
// -----------------------------------------------------------------------------

//
// Animations
//
$duration-base: 150ms;
$duration-slow: 550ms;

$timing-base: ease-in;
