// -----------------------------------------------------------------------------
// Typographies
// -----------------------------------------------------------------------------

//
// Font Family
//
$default-font-family: HiraginoSans, Hiragino Kaku Gothic ProN, Meiryo, Arial, sans-serif;
$mono-font-family: "Courier New", Consolas, monospace;

//
// Font Weight
//
$default-font-weight:      400;
$bold-font-weight:         700;

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------

$global-bg-color-day:         #f0f0f0;
$global-bg-disable-color-day: #82828a;
$global-ft-color-day:         #04041b;
$global-ft-non-accent-color-day: #a8a8b0;
$global-ft-accent-color-day:     #e94d4d;

$global-bg-color-night: #252525;
$global-ft-color-night: #fafafd;
$global-accent-color-hue: 215;

$error-ft-color: #fd574e;

$home-color-hue:     80 + 42 * 4;
$script-color-hue:   80 + 42 * 3;
$variable-color-hue: 80 + 42 * 2;
$color-color-hue:    80 + 42 * 1;
$property-color-hue: 80 + 42 * 0;

// -----------------------------------------------------------------------------
// Layouts
// -----------------------------------------------------------------------------

//
// Sizes
//
$aside-size-width: 14rem;

$global-header-height: 3rem;
$sub-header-height: 3rem;

//
// Border
//
$border-height-base: 1px;
$border-height-bold: 2px;

$border-radius-base: 3px;

//
// z-index
//
$base-z-index: 0;
$codemirror-z-index: 5;

// -----------------------------------------------------------------------------
// Interaction
// -----------------------------------------------------------------------------

$duration-base: 150ms;
$duration-slow: 550ms;

$timing-base: ease-out;
