[data-mode-id="advancedPoeFilter"] .monaco-editor {
  .error {
    background-color: transparentize($error-bg-color, 0.2);
    cursor: default;
  }
  .error-gutter {
    background-color: $error-bg-color;
  }
}
