
.cm-m-advanced-poe-filter.cm- {
  &comment {
    // TODO
  }
  &keyword {
    // TODO
  }
  &macro {
    color: #d85103; // TODO
  }
  &function {
    color: #c00397; // TODO
  }
  &condition {
    color: #02aa02; // TODO
  }
  &action {
    color: #0195af; // TODO
  }

  &error {
    text-decoration: underline dotted #ff0000; // TODO
  }
}

.cm-m-original-poe-filter.cm- {
  &comment {
    color: #979595; // TODO
  }
  &keyword {
    // TODO
  }
  &condition {
    color: #02aa02; // TODO
  }
  &action {
    color: #0195af; // TODO
  }
}
