@use "sass:color";
@import "./shadow";

@mixin button-base() {
  padding: 1em 1.5em;
  border-radius: $border-radius-base;
}

@mixin button-fill($bg-color: $theme-color) {
  @include button-base;

  color: $night-ft-color;
  background-color: $bg-color;

  transition: {
    timing-function: $timing-base;
    duration: $duration-base;
    property: background-color, color;
  }

  @include text-shadow;

  &:hover {
    background-color: color.adjust($bg-color, $lightness: 15%);
  }

  &:active {
    background-color: color.adjust($bg-color, $lightness: 20%);
  }

  &:disabled {
    background-color: color.adjust($bg-color, $lightness: -15%);
  }
}
