@import "./bg-ft-color";
@import "./shadow";

@mixin card() {
  padding: var(--space-size-s);
  border-radius: $border-radius-base;

  @include shadow(1);

  transition: $duration-base $timing-base box-shadow;

  &:hover {
    @include shadow(2);
  }
}
