
@mixin text-input() {
  padding: 0.5em;
  border-bottom-width: $border-height-bold;
  border-bottom-style: solid;
  border-color: $gray;
  @ghost border-top-radius(#{$border-radius-base});

  @ghost transition(#{$duration-base}, #{$timing-base}, background-color, color, border-color);

  &:not(:read-only) {
    &:focus {
      border-color: $theme-color;
    }
  }

  &:read-only {
    color: $gray;
  }
}
