@mixin text-input() {
  padding: 0.5em;
  border-color: $gray;
  border-bottom-style: solid;
  border-bottom-width: $border-height-bold;

  transition: {
    timing-function: $timing-base;
    duration: $duration-base;
    property: background-color, color, border-color;
  }

  &:not(:read-only) {
    &:focus {
      border-color: $theme-color;
    }
  }

  &:read-only {
    color: $gray;
  }
}

@mixin select() {
  padding: 0.5em;
  border-color: $gray;
  border-bottom-style: solid;
  border-bottom-width: $border-height-bold;
}

@mixin checkbox() {
  display: none;

  & + .icon::before {
    font-size: 180%;
    font-weight: $bold-font-weight;
  }

  &:not(:checked) + .icon::before {
    color: $gray;
    content: "☐";
  }

  &:checked + .icon::before {
    color: $theme-color;
    content: "☑";
  }

  &:disabled + .icon::before {
    color: $gray;
    content: "☒";
  }
}
